In [2]:
import random
gol = list()
for i in range(500):
  gol.append(random.randint(1,3))
gate = list()
for i in range(500):
  gate.append(random.randint(1,3))

In [3]:
def gate1(golongan):
  if (golongan==1):
    return 15000
  elif(golongan==2):
    return 17500
  elif(golongan==3):
    return 20000

def gate2(golongan):
  if (golongan==1):
    return 10000
  elif(golongan==2):
    return 12500
  elif(golongan==3):
    return 20000

def gate3(golongan):
  if (golongan==1):
    return 5000
  elif(golongan==2):
    return 7500
  elif(golongan==3):
    return 10000

revenue = 0
revenue_list = list()

for trx in range(len(gate)):
  if(gate[trx]==1):
    revenue_list.append(gate1(gol[trx]))
    revenue = revenue + gate1(gol[trx])
  elif(gate[trx]==2):
    revenue_list.append(gate2(gol[trx]))
    revenue = revenue + gate2(gol[trx])
  elif(gate[trx]==3):
    revenue_list.append(gate3(gol[trx]))
    revenue = revenue + gate3(gol[trx])

print("Total Revenue : Rp", revenue)

Total Revenue : Rp 6310000

In [5]:
import pandas as pd
df = pd.DataFrame({
    'golongan': gol,
    'gate' : gate,
    'revenue' : revenue_list
})
df.groupby(['golongan','gate']).sum()

               revenue
golongan gate
1        1      855000
         2      560000
         3      350000
2        1      752500
         2      625000
         3      397500
3        1     1040000
         2     1080000
         3      650000

In [6]:
df.groupby(['golongan','gate']).count()

               revenue
golongan gate
1        1          57
         2          56
         3          70
2        1          43
         2          50
         3          53
3        1          52
         2          54
         3          65